<div class="content-container">
    <div class="container-fluid">

        <h1>Add New Users From CSV File</h1>

        <%= form_with(url: users_adding_import_users_path(), method: :get, local: true) do |form| %>
            <%= form.text_field :file_name, autofocus: true, autocomplete: "file name", placeholder: "File Name", class: "space--field--file" %>
            <%= form.submit "Add Users From This File", class:"btn btn-primary" %>
        <% end %>

    </div>
</div>
