<div class="content-container">
    <div class="container-fluid"> 

        <h1>New Course</h1>

        <%= render 'form', course: @course %>

        <%= link_to 'Back', courses_path %>

    </div>
</div>